n8n-workflows/property-intake.json
{
  "name": "property-intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "property-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [2304, 8800],
      "id": "071ef062-b895-452d-8d33-d15f3c9fbc9b",
      "name": "User Submit",
      "webhookId": "d1de4022-9ab4-4f1c-b8dd-f91ea9b7c3e5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n     \"job_id\": \"{{ $execution.id }}\",\n     \"status\": \"received\"\n   }",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2528, 8704],
      "id": "e0f54b39-b013-48c4-937e-c8f455019dfd",
      "name": "Respond to user submission trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MTmu5zOxU9FkOcH9jWvM2-KfPcI3OzDmsIAjPZszX9o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "1408573048",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $execution.id }}",
            "submitted_at": "={{ $now.toISO() }}",
            "status": "pending",
            "property_type": "={{ $('User Submit').first().json.body.property_type }}",
            "intent": "={{ $('User Submit').first().json.body.intent }}",
            "location": "={{ $('User Submit').first().json.body.location }}",
            "condition": "={{ $('User Submit').first().json.body.condition }}",
            "price_asking": "={{ $('User Submit').first().json.body.price_asking }}",
            "size_sqm": "={{ $('User Submit').first().json.body.size_sqm }}",
            "num_rooms": "={{ $('User Submit').first().json.body.num_rooms }}",
            "agent_name": "={{ $('User Submit').first().json.body.agent_name }}",
            "description": "={{ $('User Submit').first().json.body.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "price_asking",
              "displayName": "price_asking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "size_sqm",
              "displayName": "size_sqm",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "num_rooms",
              "displayName": "num_rooms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "image_analysis",
              "displayName": "image_analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "team",
              "displayName": "team",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "deal_score",
              "displayName": "deal_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "estimated_price",
              "displayName": "estimated_price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2528, 8896],
      "id": "cfcc19ed-1e5d-4b64-aa69-0153814d1644",
      "name": "Insert row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NVCbUAzpz0pLqUkG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ec2-18-205-20-157.compute-1.amazonaws.com:9001/check/input",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('User Submit').first().json.body.description || JSON.stringify($('User Submit').first().json.body) }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2752, 8896],
      "id": "0ad41180-7301-49c1-bb30-c8b456c6db45",
      "name": "Guardrails Input Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "pass-check",
              "leftValue": "={{ $json.pass }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2976, 8896],
      "id": "d15519cf-1abb-46a2-84d4-5bb7071e61f7",
      "name": "Input Valid?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MTmu5zOxU9FkOcH9jWvM2-KfPcI3OzDmsIAjPZszX9o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "1408573048",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $('Insert row').first().json.job_id }}",
            "status": "rejected",
            "analysis": "={{ JSON.stringify({ error: '❌ Submission rejected: ' + $('Guardrails Input Check').first().json.reason }) }}",
            "completed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["job_id"],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "price_asking",
              "displayName": "price_asking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "size_sqm",
              "displayName": "size_sqm",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "num_rooms",
              "displayName": "num_rooms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "image_analysis",
              "displayName": "image_analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "team",
              "displayName": "team",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "deal_score",
              "displayName": "deal_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "estimated_price",
              "displayName": "estimated_price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3200, 8992],
      "id": "5af5d15e-29e9-4c49-9e64-cd1348dedc22",
      "name": "Update row (rejected)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NVCbUAzpz0pLqUkG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-image-file",
              "leftValue": "={{ Object.keys($('User Submit').first().binary || {}).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3200, 8800],
      "id": "4983ffce-132a-4f7a-8172-e7b0cfde7dca",
      "name": "Has Image File?"
    },
    {
      "parameters": {
        "jsCode": "const userItem  = $('User Submit').first();\nconst binary     = userItem.binary || {};\nconst jobId      = $('Insert row').first().json.job_id;\nconst actualKeys = Object.keys(binary).filter(k => k.startsWith('file')).sort();\nconst MAX_FILES  = 5;\n\nconst outBinary = {};\nfor (let i = 0; i < MAX_FILES; i++) {\n  const src = actualKeys[Math.min(i, actualKeys.length - 1)];\n  outBinary[`file${i}`] = binary[src];\n}\n\nreturn [{ json: { job_id: jobId, file_count: actualKeys.length }, binary: outBinary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3424, 8720],
      "id": "79678b1d-98d0-41cf-ab19-23f664835465",
      "name": "Prepare Image JSON",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ec2-13-217-118-0.compute-1.amazonaws.com:9002/analyse",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_id",
              "value": "={{ $json.job_id }}"
            },
            {
              "name": "file_count",
              "value": "={{ $json.file_count }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file0",
              "inputDataFieldName": "file0"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file1",
              "inputDataFieldName": "file1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file2",
              "inputDataFieldName": "file2"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file3",
              "inputDataFieldName": "file3"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file4",
              "inputDataFieldName": "file4"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3648, 8720],
      "id": "14d181fe-8331-440c-ad16-9d042df7310d",
      "name": "Call Image Analyser",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Image analyser returns an array of room objects, each containing image_urls.\n// Extract the structured image_analysis array and flatten all S3 URLs.\nconst response = $input.first().json;\nconst items = Array.isArray(response) ? response : [response];\n\nconst imageAnalysis = items.map(item => ({\n  room_type:       (item.room_type || 'other').toLowerCase(),\n  condition_score: Number(item.condition_score) || 0.0,\n  confidence:      Number(item.confidence)      || 0.0,\n}));\n\nconst imageUrls = items.flatMap(item => item.image_urls || []);\n\nreturn [{ json: { image_analysis: imageAnalysis, image_urls: imageUrls } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3872, 8720],
      "id": "76868eb7-693a-453c-a8ac-c9e69565cf95",
      "name": "Parse Image JSON",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MTmu5zOxU9FkOcH9jWvM2-KfPcI3OzDmsIAjPZszX9o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "1408573048",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $('Insert row').first().json.job_id }}",
            "status": "rejected",
            "image_urls": "={{ JSON.stringify($('Parse Image JSON').first().json.image_urls) }}",
            "analysis": "={{ JSON.stringify({ error: '❌ Image rejected: uploaded images do not appear to be property photos. ' + ($('Image Label Guardrail').first().json.reason || 'Non-property content detected.') + ' Labels detected: ' + $('Parse Image JSON').first().json.image_analysis.map(i => i.room_type).join(', ') }) }}",
            "completed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["job_id"],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "price_asking",
              "displayName": "price_asking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "size_sqm",
              "displayName": "size_sqm",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "num_rooms",
              "displayName": "num_rooms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "image_analysis",
              "displayName": "image_analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "team",
              "displayName": "team",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "deal_score",
              "displayName": "deal_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "estimated_price",
              "displayName": "estimated_price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [4544, 8672],
      "id": "a0d70a72-6408-4690-8c67-e7f15f609a3d",
      "name": "Update row (image rejected)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NVCbUAzpz0pLqUkG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge image data (image path) with the original webhook body.\n// Falls back to empty image_analysis when no images were submitted.\nlet imageAnalysis = [];\nlet imageUrls = '[]';\ntry {\n  const img = $('Parse Image JSON').first().json;\n  imageAnalysis = img.image_analysis || [];\n  imageUrls = JSON.stringify(img.image_urls || []);\n} catch(e) {}\n\nconst body = $('User Submit').first().json.body || {};\n\nreturn [{ json: {\n  property_type:  body.property_type || null,\n  location:       body.location       || null,\n  description:    body.description    || null,\n  agent_name:     body.agent_name     || null,\n  price_asking:   body.price_asking   != null ? Number(body.price_asking) : null,\n  size_sqm:       body.size_sqm       != null ? Number(body.size_sqm)     : null,\n  num_rooms:      body.num_rooms      != null ? Number(body.num_rooms)    : null,\n  condition:      body.condition      || null,\n  intent:         body.intent         || null,\n  image_analysis: imageAnalysis,\n  _image_urls:    imageUrls,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4544, 8896],
      "id": "9f2ec206-9771-4df8-a033-2e318c7469ac",
      "name": "Build LangGraph Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ec2-18-232-166-72.compute-1.amazonaws.com:9000/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ property_type: $json.property_type, location: $json.location, description: $json.description, agent_name: $json.agent_name, price_asking: $json.price_asking, size_sqm: $json.size_sqm, num_rooms: $json.num_rooms, condition: $json.condition, intent: $json.intent, image_analysis: $json.image_analysis }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4768, 8896],
      "id": "ace7aa01-29d4-4e0c-aebe-1c62db3f5b2e",
      "name": "LangGraph Analyze",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const lg        = $('LangGraph Analyze').first().json;\nconst buildBody = $('Build LangGraph Body').first().json;\nconst jobId     = $('Insert row').first().json.job_id;\n\nconst analysis  = lg.analysis  || {};\nconst imageUrls = buildBody._image_urls || '[]';\n\n// Text fed to guardrails output check — fields most likely to carry false claims.\nconst guardrailsText = [\n  analysis.market_context,\n  analysis.pricing_opinion,\n  analysis.recommendation,\n].filter(Boolean).join('\\n\\n');\n\nreturn [{ json: {\n  job_id:          jobId,\n  lg_status:       lg.status,\n  intent:          lg.intent,\n  confidence:      lg.confidence || 0,\n  team:            lg.team       || 'unknown',\n  deal_score:      lg.deal_score || 0,\n  estimated_price: lg.estimated_price || null,\n  image_analysis:  JSON.stringify(lg.image_analysis || []),\n  image_urls:      imageUrls,\n  analysis:        JSON.stringify(analysis),\n  guardrails_text: guardrailsText,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4992, 8816],
      "id": "6199d87d-d344-462f-9c33-19109cf1b598",
      "name": "Route Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ec2-18-205-20-157.compute-1.amazonaws.com:9001/check/output",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Route Response').first().json.guardrails_text }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5216, 8816],
      "id": "1ef19cba-6ed4-406d-ac83-7d09efd0fde1",
      "name": "Guardrails Output Check",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MTmu5zOxU9FkOcH9jWvM2-KfPcI3OzDmsIAjPZszX9o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "1408573048",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $('Route Response').first().json.job_id }}",
            "status": "={{ $('Route Response').first().json.lg_status === 'incomplete' ? 'rejected' : ($('Guardrails Output Check').first().json.flagged ? 'flagged' : 'done') }}",
            "intent": "={{ $('Route Response').first().json.intent }}",
            "confidence": "={{ $('Route Response').first().json.confidence }}",
            "team": "={{ $('Route Response').first().json.team }}",
            "deal_score": "={{ $('Route Response').first().json.deal_score }}",
            "estimated_price": "={{ $('Route Response').first().json.estimated_price }}",
            "image_urls": "={{ $('Route Response').first().json.image_urls }}",
            "image_analysis": "={{ $('Route Response').first().json.image_analysis }}",
            "analysis": "={{ $('Route Response').first().json.analysis }}",
            "completed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["job_id"],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "price_asking",
              "displayName": "price_asking",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "size_sqm",
              "displayName": "size_sqm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "num_rooms",
              "displayName": "num_rooms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_analysis",
              "displayName": "image_analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "team",
              "displayName": "team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "deal_score",
              "displayName": "deal_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estimated_price",
              "displayName": "estimated_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [5440, 8768],
      "id": "5b7ecefe-07ac-4f58-8c43-f13997a19988",
      "name": "Update row(s)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NVCbUAzpz0pLqUkG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [5664, 8768],
      "id": "e2dd5139-4c56-4014-a428-14ad5de61e40",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MTmu5zOxU9FkOcH9jWvM2-KfPcI3OzDmsIAjPZszX9o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "1408573048",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $('Insert row').first().json.job_id }}",
            "status": "rejected",
            "analysis": "={{ JSON.stringify({ error: '❌ Processing error: ' + ($input.first().json.error?.message || $input.first().json.message || 'Service unavailable — please resubmit') }) }}",
            "completed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["job_id"],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "price_asking",
              "displayName": "price_asking",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "size_sqm",
              "displayName": "size_sqm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "num_rooms",
              "displayName": "num_rooms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_analysis",
              "displayName": "image_analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "team",
              "displayName": "team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deal_score",
              "displayName": "deal_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated_price",
              "displayName": "estimated_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [5440, 8992],
      "id": "41ccecf8-6bc2-42de-8378-6abff7444e22",
      "name": "Update row (processing error)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NVCbUAzpz0pLqUkG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ec2-18-205-20-157.compute-1.amazonaws.com:9001/check/image-label",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Parse Image JSON').first().json.image_analysis.map(i => i.room_type).join(', ') }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4080, 8720],
      "id": "bec25b8e-ed62-4887-b53b-0d2217258370",
      "name": "Image Label Guardrail",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "image-label-pass",
              "leftValue": "={{ $json.pass }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4304, 8720],
      "id": "80156afd-329c-441d-9660-63f2d4fb3596",
      "name": "Image Label Valid?"
    },
    {
      "parameters": {
        "content": "## Webhook trigger",
        "height": 688,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2128, 8448],
      "id": "9f5cc264-fd49-4a81-94a6-8ee5f2721bc7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Input GuardRail",
        "height": 688,
        "width": 416,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2720, 8448],
      "id": "e4c2e10b-f76a-45fe-9116-382cd49e143c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Image processor ",
        "height": 432,
        "width": 1328,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3152, 8512],
      "id": "17f297c3-53bb-4bd7-87e6-8d731b45995f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Lang Graph + RAG",
        "height": 432,
        "width": 720,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [4416, 8608],
      "id": "034b3360-43ee-4824-94b1-c6472e194178",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Output",
        "height": 480,
        "width": 752,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [5152, 8720],
      "id": "bd6c4505-e3af-47f4-b632-d0a3c4e070c1",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "User Submit": {
      "main": [
        [
          {
            "node": "Respond to user submission trigger",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Guardrails Input Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails Input Check": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "Has Image File?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row (rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Image File?": {
      "main": [
        [
          {
            "node": "Prepare Image JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build LangGraph Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image JSON": {
      "main": [
        [
          {
            "node": "Call Image Analyser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Image Analyser": {
      "main": [
        [
          {
            "node": "Parse Image JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Image JSON": {
      "main": [
        [
          {
            "node": "Image Label Guardrail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LangGraph Body": {
      "main": [
        [
          {
            "node": "LangGraph Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LangGraph Analyze": {
      "main": [
        [
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row (processing error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Response": {
      "main": [
        [
          {
            "node": "Guardrails Output Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails Output Check": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row (processing error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Label Guardrail": {
      "main": [
        [
          {
            "node": "Image Label Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Label Valid?": {
      "main": [
        [
          {
            "node": "Build LangGraph Body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row (image rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "72d98044-d5ae-403b-8d60-1049ab12137a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c6430176c71ae4a87ba54ba8395dd80647da38cf5d07ddc23d97f2bc7d7162e"
  },
  "id": "YIcYcBiDst8iyiNS",
  "tags": []
}
