n8n-workflows/property-intake.json
{
  "name": "Property Intake + Admin (Google Sheets + S3 + Vision)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "property-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        432,
        3456
      ],
      "id": "7ea39312-dc36-4362-be09-6d8baf9e2cb0",
      "name": "User Submit",
      "webhookId": "d1de4022-9ab4-4f1c-b8dd-f91ea9b7c3e5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n     \"job_id\": \"{{ $execution.id }}\",\n     \"status\": \"received\"\n   }",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        656,
        3360
      ],
      "id": "7cd944d7-12bb-4fcd-8f6f-596dd88a7b37",
      "name": "Respond to user submission trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MTmu5zOxU9FkOcH9jWvM2-KfPcI3OzDmsIAjPZszX9o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "1408573048",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $execution.id }}",
            "submitted_at": "={{ $now.toISO() }}",
            "status": "pending",
            "property_type": "={{ $('User Submit').first().json.body.property_type }}",
            "intent": "={{ $('User Submit').first().json.body.intent }}",
            "location": "={{ $('User Submit').first().json.body.location }}",
            "condition": "={{ $('User Submit').first().json.body.condition }}",
            "price_asking": "={{ $('User Submit').first().json.body.price_asking }}",
            "size_sqm": "={{ $('User Submit').first().json.body.size_sqm }}",
            "num_rooms": "={{ $('User Submit').first().json.body.num_rooms }}",
            "agent_name": "={{ $('User Submit').first().json.body.agent_name }}",
            "description": "={{ $('User Submit').first().json.body.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "price_asking",
              "displayName": "price_asking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "size_sqm",
              "displayName": "size_sqm",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "num_rooms",
              "displayName": "num_rooms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "image_analysis",
              "displayName": "image_analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "team",
              "displayName": "team",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "deal_score",
              "displayName": "deal_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "estimated_price",
              "displayName": "estimated_price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        656,
        3552
      ],
      "id": "7272b382-3251-4fb7-877d-a1a80c7125b6",
      "name": "Insert row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NVCbUAzpz0pLqUkG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:9001/check/input",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('User Submit').first().json.body.description || JSON.stringify($('User Submit').first().json.body) }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        3552
      ],
      "id": "5b65ac8d-67aa-4ca9-a65f-ce6c8e9ee0c7",
      "name": "Guardrails Input Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "pass-check",
              "leftValue": "={{ $json.pass }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        3552
      ],
      "id": "e8a395ce-9f54-49cc-8598-4ce7bd1c3095",
      "name": "Input Valid?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MTmu5zOxU9FkOcH9jWvM2-KfPcI3OzDmsIAjPZszX9o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "1408573048",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $('Insert row').first().json.job_id }}",
            "status": "rejected",
            "analysis": "={{ JSON.stringify({ error: '❌ Submission rejected: ' + $('Guardrails Input Check').first().json.reason }) }}",
            "completed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "job_id"
          ],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "price_asking",
              "displayName": "price_asking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "size_sqm",
              "displayName": "size_sqm",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "num_rooms",
              "displayName": "num_rooms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "image_analysis",
              "displayName": "image_analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "team",
              "displayName": "team",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "deal_score",
              "displayName": "deal_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "estimated_price",
              "displayName": "estimated_price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1328,
        3648
      ],
      "id": "5d418e74-685a-47f6-aa3f-25aabe13b665",
      "name": "Update row (rejected)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NVCbUAzpz0pLqUkG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-image-file",
              "leftValue": "={{ Object.keys($('User Submit').first().binary || {}).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        3456
      ],
      "id": "2af40385-1284-40e5-bed9-10916524b628",
      "name": "Has Image File?"
    },
    {
      "parameters": {
        "jsCode": "const userItem  = $('User Submit').first();\nconst binary     = userItem.binary || {};\nconst jobId      = $('Insert row').first().json.job_id;\nconst actualKeys = Object.keys(binary).filter(k => k.startsWith('file')).sort();\nconst MAX_FILES  = 5;\n\nconst outBinary = {};\nfor (let i = 0; i < MAX_FILES; i++) {\n  const src = actualKeys[Math.min(i, actualKeys.length - 1)];\n  outBinary[`file${i}`] = binary[src];\n}\n\nreturn [{ json: { job_id: jobId, file_count: actualKeys.length }, binary: outBinary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        3312
      ],
      "id": "prepare-img-json-0001-0001-0001",
      "name": "Prepare Image JSON",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:9002/analyse",
        "sendBody": true,
        "specifyBody": "keypair",
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_id",
              "value": "={{ $json.job_id }}"
            },
            {
              "name": "file_count",
              "value": "={{ $json.file_count }}"
            },
            {
              "name": "file0",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file0"
            },
            {
              "name": "file1",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file1"
            },
            {
              "name": "file2",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file2"
            },
            {
              "name": "file3",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file3"
            },
            {
              "name": "file4",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file4"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        3312
      ],
      "id": "call-analyser-0001-0001-0001-callimg01",
      "name": "Call Image Analyser",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Image analyser returns an array of room objects, each containing image_urls.\n// Extract the structured image_analysis array and flatten all S3 URLs.\nconst response = $input.first().json;\nconst items = Array.isArray(response) ? response : [response];\n\nconst imageAnalysis = items.map(item => ({\n  room_type:       (item.room_type || 'other').toLowerCase(),\n  condition_score: Number(item.condition_score) || 0.0,\n  confidence:      Number(item.confidence)      || 0.0,\n}));\n\nconst imageUrls = items.flatMap(item => item.image_urls || []);\n\nreturn [{ json: { image_analysis: imageAnalysis, image_urls: imageUrls } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        3312
      ],
      "id": "parse-img-json-0002-0001-0001",
      "name": "Parse Image JSON",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MTmu5zOxU9FkOcH9jWvM2-KfPcI3OzDmsIAjPZszX9o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "1408573048",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $('Insert row').first().json.job_id }}",
            "status": "rejected",
            "image_urls": "={{ JSON.stringify($('Parse Image JSON').first().json.image_urls) }}",
            "analysis": "={{ JSON.stringify({ error: '❌ Image rejected: uploaded images do not appear to be property photos. ' + ($('Image Label Guardrail').first().json.reason || 'Non-property content detected.') + ' Labels detected: ' + $('Parse Image JSON').first().json.image_analysis.map(i => i.room_type).join(', ') }) }}",
            "completed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "job_id"
          ],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "price_asking",
              "displayName": "price_asking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "size_sqm",
              "displayName": "size_sqm",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "num_rooms",
              "displayName": "num_rooms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "image_analysis",
              "displayName": "image_analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "team",
              "displayName": "team",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "deal_score",
              "displayName": "deal_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "estimated_price",
              "displayName": "estimated_price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2448,
        3168
      ],
      "id": "img-rejected-0001-0001-0001",
      "name": "Update row (image rejected)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NVCbUAzpz0pLqUkG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge image data (image path) with the original webhook body.\n// Falls back to empty image_analysis when no images were submitted.\nlet imageAnalysis = [];\nlet imageUrls = '[]';\ntry {\n  const img = $('Parse Image JSON').first().json;\n  imageAnalysis = img.image_analysis || [];\n  imageUrls = JSON.stringify(img.image_urls || []);\n} catch(e) {}\n\nconst body = $('User Submit').first().json.body || {};\n\nreturn [{ json: {\n  property_type:  body.property_type || null,\n  location:       body.location       || null,\n  description:    body.description    || null,\n  agent_name:     body.agent_name     || null,\n  price_asking:   body.price_asking   != null ? Number(body.price_asking) : null,\n  size_sqm:       body.size_sqm       != null ? Number(body.size_sqm)     : null,\n  num_rooms:      body.num_rooms      != null ? Number(body.num_rooms)    : null,\n  condition:      body.condition      || null,\n  intent:         body.intent         || null,\n  image_analysis: imageAnalysis,\n  _image_urls:    imageUrls,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        3456
      ],
      "id": "build-lg-body-0001-0001-0001",
      "name": "Build LangGraph Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:9000/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ property_type: $json.property_type, location: $json.location, description: $json.description, agent_name: $json.agent_name, price_asking: $json.price_asking, size_sqm: $json.size_sqm, num_rooms: $json.num_rooms, condition: $json.condition, intent: $json.intent, image_analysis: $json.image_analysis }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        3456
      ],
      "id": "8b8d383d-8afd-4cf6-a95e-d809bcc23ad8",
      "name": "LangGraph Analyze",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const lg        = $('LangGraph Analyze').first().json;\nconst buildBody = $('Build LangGraph Body').first().json;\nconst jobId     = $('Insert row').first().json.job_id;\n\nconst analysis  = lg.analysis  || {};\nconst imageUrls = buildBody._image_urls || '[]';\n\n// Text fed to guardrails output check — fields most likely to carry false claims.\nconst guardrailsText = [\n  analysis.market_context,\n  analysis.pricing_opinion,\n  analysis.recommendation,\n].filter(Boolean).join('\\n\\n');\n\nreturn [{ json: {\n  job_id:          jobId,\n  lg_status:       lg.status,\n  intent:          lg.intent,\n  confidence:      lg.confidence || 0,\n  team:            lg.team       || 'unknown',\n  deal_score:      lg.deal_score || 0,\n  estimated_price: lg.estimated_price || null,\n  image_analysis:  JSON.stringify(lg.image_analysis || []),\n  image_urls:      imageUrls,\n  analysis:        JSON.stringify(analysis),\n  guardrails_text: guardrailsText,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        3456
      ],
      "id": "3f12b057-ad72-434b-acb0-038f743b1ae1",
      "name": "Route Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:9001/check/output",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Route Response').first().json.guardrails_text }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        3456
      ],
      "id": "f02f2c6c-5cee-4ee4-aa47-c61eff6ead93",
      "name": "Guardrails Output Check",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MTmu5zOxU9FkOcH9jWvM2-KfPcI3OzDmsIAjPZszX9o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "1408573048",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $('Route Response').first().json.job_id }}",
            "status": "={{ $('Route Response').first().json.lg_status === 'incomplete' ? 'rejected' : ($('Guardrails Output Check').first().json.flagged ? 'flagged' : 'done') }}",
            "intent": "={{ $('Route Response').first().json.intent }}",
            "confidence": "={{ $('Route Response').first().json.confidence }}",
            "team": "={{ $('Route Response').first().json.team }}",
            "deal_score": "={{ $('Route Response').first().json.deal_score }}",
            "estimated_price": "={{ $('Route Response').first().json.estimated_price }}",
            "image_urls": "={{ $('Route Response').first().json.image_urls }}",
            "image_analysis": "={{ $('Route Response').first().json.image_analysis }}",
            "analysis": "={{ $('Route Response').first().json.analysis }}",
            "completed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "job_id"
          ],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "price_asking",
              "displayName": "price_asking",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "size_sqm",
              "displayName": "size_sqm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "num_rooms",
              "displayName": "num_rooms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_analysis",
              "displayName": "image_analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "team",
              "displayName": "team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "deal_score",
              "displayName": "deal_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estimated_price",
              "displayName": "estimated_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3344,
        3344
      ],
      "id": "bfd34ad0-375a-4bdf-a153-0d4798538131",
      "name": "Update row(s)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NVCbUAzpz0pLqUkG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3568,
        3344
      ],
      "id": "6d1e5847-c68a-4b56-8aa9-a066bc460274",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MTmu5zOxU9FkOcH9jWvM2-KfPcI3OzDmsIAjPZszX9o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "1408573048",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $('Insert row').first().json.job_id }}",
            "status": "rejected",
            "analysis": "={{ JSON.stringify({ error: '❌ Processing error: ' + ($input.first().json.error?.message || $input.first().json.message || 'Service unavailable — please resubmit') }) }}",
            "completed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "job_id"
          ],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "price_asking",
              "displayName": "price_asking",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "size_sqm",
              "displayName": "size_sqm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "num_rooms",
              "displayName": "num_rooms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_analysis",
              "displayName": "image_analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "team",
              "displayName": "team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deal_score",
              "displayName": "deal_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated_price",
              "displayName": "estimated_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3344,
        3648
      ],
      "id": "0eeda859-1d78-45bf-b0fd-c4b716116a99",
      "name": "Update row (processing error)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NVCbUAzpz0pLqUkG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:9001/check/image-label",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Parse Image JSON').first().json.image_analysis.map(img => img.room_type).join(', ') }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        3312
      ],
      "id": "img-label-guardrail-http-0001",
      "name": "Image Label Guardrail",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "label-pass",
              "leftValue": "={{ $json.pass }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2448,
        3312
      ],
      "id": "img-label-valid-0001-0001-0002",
      "name": "Image Labels Valid?"
    }
  ],
  "pinData": {},
  "connections": {
    "User Submit": {
      "main": [
        [
          {
            "node": "Respond to user submission trigger",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Guardrails Input Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails Input Check": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "Has Image File?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row (rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Image File?": {
      "main": [
        [
          {
            "node": "Prepare Image JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build LangGraph Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image JSON": {
      "main": [
        [
          {
            "node": "Call Image Analyser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Image Analyser": {
      "main": [
        [
          {
            "node": "Parse Image JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Image JSON": {
      "main": [
        [
          {
            "node": "Image Label Guardrail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LangGraph Body": {
      "main": [
        [
          {
            "node": "LangGraph Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LangGraph Analyze": {
      "main": [
        [
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row (processing error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Response": {
      "main": [
        [
          {
            "node": "Guardrails Output Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails Output Check": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row (processing error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Label Guardrail": {
      "main": [
        [
          {
            "node": "Image Labels Valid?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row (processing error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Labels Valid?": {
      "main": [
        [
          {
            "node": "Build LangGraph Body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row (image rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "default",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "9e967052-ddcf-4ec5-a7e6-c904969329e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c6430176c71ae4a87ba54ba8395dd80647da38cf5d07ddc23d97f2bc7d7162e"
  },
  "id": "YIcYcBiDst8iyiNS",
  "tags": []
}